<ol class="list-group">
    <app-item-cv [personne]="personnes[0]" (selectedpersonne)="selectPersonne($event)"></app-item-cv>
    <app-item-cv [personne]="personnes[1]" (selectedpersonne)="selectPersonne($event)"></app-item-cv>
    <app-item-cv [personne]="personnes[2]" (selectedpersonne)="selectPersonne($event)"></app-item-cv>
    <app-item-cv [personne]="personnes[3]" (selectedpersonne)="selectPersonne($event)"></app-item-cv>
    <app-item-cv [personne]="personnes[4]" (selectedpersonne)="selectPersonne($event)"></app-item-cv>
    
</ol>
